#### import libraries

In [28]:
import pandas as pd

#### import csv files

In [31]:
ds=pd.read_csv('country_migration_public.csv')
ds.loc[(ds['target_country_code']=='ir')]

,base_country_code,base_country_name,base_lat,base_long,base_country_wb_income,base_country_wb_region,target_country_code,target_country_name,target_lat,target_long,...,net_per_10K_2019,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
35,ae,United Arab Emirates,23.424076,53.847818,High Income,Middle East & North Africa,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,af,Afghanistan,33.939110,67.709953,Low Income,South Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,1.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,am,Armenia,40.069099,45.038189,Upper Middle Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,4.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,at,Austria,47.516231,14.550072,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,1.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,au,Australia,-25.274398,133.775136,High Income,East Asia & Pacific,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,1.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
388,be,Belgium,50.503887,4.469936,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624,ca,Canada,56.130366,-106.346771,High Income,North America,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,2.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
722,ch,Switzerland,46.818188,8.227512,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
859,cn,China,35.861660,104.195397,Upper Middle Income,East Asia & Pacific,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060,de,Germany,51.165691,10.451526,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,1.59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1142,dk,Denmark,56.263920,9.501785,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1322,es,Spain,40.463667,-3.749220,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1403,fi,Finland,61.924110,25.748151,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1476,fr,France,46.227638,2.213749,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1592,gb,United Kingdom,55.378051,-3.435973,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001,in,India,20.593684,78.962880,Lower Middle Income,South Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,-0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2064,iq,Iraq,33.223191,43.679291,Upper Middle Income,Middle East & North Africa,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2159,it,Italy,41.871940,12.567380,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2256,jp,Japan,36.204824,138.252924,High Income,East Asia & Pacific,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2345,kr,"Korea, Rep.",35.907757,127.766922,High Income,East Asia & Pacific,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2690,my,Malaysia,4.210484,101.975766,Upper Middle Income,East Asia & Pacific,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,-0.05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2823,nl,Netherlands,52.132633,5.291266,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2899,no,Norway,60.472024,8.468946,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2965,nz,New Zealand,-40.900557,174.885971,High Income,East Asia & Pacific,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3312,ro,Romania,45.943161,24.966760,Upper Middle Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,-0.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3447,se,Sweden,60.128161,18.643501,High Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,1.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3503,sg,Singapore,1.352083,103.819836,High Income,East Asia & Pacific,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,0.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3699,tr,Turkey,38.963745,35.243322,Upper Middle Income,Europe & Central Asia,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,1.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3904,us,United States,37.090240,-95.712891,High Income,North America,ir,"Iran, Islamic Rep.",32.427908,53.688046,...,-0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN